@page "/deleterecord/{Value:int}"

@using Editing.Data
@inject NavigationManager NavigationManager
@inject OrderService Ord
@if (Value > 0)
{
    <h1>Are you sure you want to delete the @Value record?</h1>
    <EjsButton OnClick="Delete">Yes</EjsButton><EjsButton OnClick="Cancel">No</EjsButton>
}
else
{
    <h1>Kindly select a record to delete</h1>

    <EjsButton OnClick="Cancel">Return</EjsButton>
}


@code{
    [Parameter]
    public int Value { get; set; }
    public EjsTextBox Text { get; set; }
    public Order SelectedData { get; set; } = new Order();
    protected void Delete()
    {
        if (Value > 0)
        {
            Ord.GetOrderDetails().Remove(Ord.GetOrderDetails().Where(X => X.OrderID == Value).FirstOrDefault());
        }
        NavigationManager.NavigateTo("/");
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}